@charset "ISO-8859-1";
body{
	background-color: rgb(170, 187, 237);
}
h1{
	text-align: center;
	text-decoration: underline;
	letter-spacing: 10px;
	font-family: Goergia, Verdana;
	font-size: 60px;
}
.formulario{
	margin: auto;
	width: fit-content;
	border: 3px solid #000000;
	padding: 20px;
	background-color: rgb(112, 145, 241);
}
form{
	margin: auto;
	padding: 10px;
}
p{
	color: white;
	font-size: 18px;
}
.enviar{
	margin: auto;
	width: 35%;
}
.enviarB{
	background-color: blue;
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
 	display: inline-block;
 	margin: 4px 2px;
 	cursor: pointer;
}